{% extends 'cats/base.html' %}
{% block content %}
    <h4 class="text-center m-4"> {{ title2 }}</h4>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-justify">
               <p> Naminė katė arba katė (Felis catus) – katinių (Felidae) šeimos, rainuotųjų kačių (Felis) genties naminis, plėšrusis žinduolis, žmonių išplatintas ir auginamas visame pasaulyje, išskyrus Antarktidą. </p>
               <p> Katė yra mėsėdis plėšrūnas, gali medžioti daugiau nei 1000 rūšių smulkių ir nedidelių gyvūnų. Be žmonių priežiūros naminės katės sulaukėja, sėkmingai išgyvena laisvėje, dauginasi ir kartais sudaro ištisas sulaukėjusių kačių kolonijas. </p>
               <p> Kates žmonės prijaukino maždaug 8000-3000 m. pr. m. e. Naujausi šaltiniai teigia, kad naminės katės daugiausia kilusios iš prijaukintų afroazinių kačių (Felis lybica) rūšies Felis lybica lybica porūšio populiacijos gyvenusios Mesopotamijoje. Šaltiniai teigia, kad pirmosios katės buvo prijaukintos Kipre, maždaug 7000-6000 m. pr. m. e., anot dar kitų šaltinių Senovės Egipte apie 3500 m. pr. m. e. 2004 m. archeologai Kipre atkasė kapą, kuriame greta vienas kito palaidotas žmogus ir katė, šiam kapui jau 9500 metų. </p>
               <p> Lietuvoje randamos tik nuo 1390 metų (Kernavėje). </p>
               <p> Katės laikomos ne tik kaip naminiai gyvūnai, atliekantys smulkių graužikų naikinimo funkciją, bet ir kaip augintiniai namuose. Manoma, kad nauda iš kačių pranoko žalą, kurią kėlė šio laukinio gyvūno jaukinimas, kadangi žmonių maisto saugyklose medžioja peles ir žiurkes. Skirtingai nuo šunų, kurie irgi gali gaudyti peles, katės neėda grūdų, vaisių ir daržovių. </p>
                <q> Katė - geriausias žmogaus draugas... </q>
            </div>
          <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}
